.main {
  ul {
    list-style-type: none;
  }

  #menu {
    width: 100%;
    & > ul {
      list-style-type: none;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      background: rgb(231, 231, 231);
      & > li {
        width: 100%;
        text-align: center;
        transition: all 0.3s ease-in-out;
        a {
          text-decoration: none;
          display: inherit;
          padding: 5px 12px;
          color: black;
        }
        &:hover {
          background-color: yellow;
          ul {
            display: block;
          }
        }
        ul {
          list-style-type: none;
          display: none;
          position: absolute;
          width: 150px;
          background: rgb(231, 231, 231);

          li {
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: yellow;
            }
          }
        }
      }
    }
  }
  // table {
  //   background: white;
  //   width: 100%;
  //   border-collapse: collapse;
  //   border: 1px solid rgb(139, 139, 139);

  //   th {
  //     background: #ccc;
  //     border: 1px solid rgb(139, 139, 139);
  //     padding: 8px;
  //     text-align: center;
  //   }
  //   td{
  //     padding: 8px;

  //   }
  //   tr {
  //     transition: 0.3s all ease-in-out;

  //     &:nth-child(even) {
  //       background: #efefef;
  //     }

  //     &:hover {
  //       background: #d1d1d1;
  //     }
  //   }
  // }
}
