* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: fit-content;
  max-width: fit-content;
  margin: 10px;
  border: 1px solid red;
  background-color: rgb(202, 202, 202);
  h1 {
    color: red;
    font-size: 16px;
    padding: 20px auto;
    border-bottom: 1px dotted red;
    text-align: center;
  }
  table {
    margin: 10px;
  }
  p {
    width: 500px;
  }
  td {
    padding: 0 20px;
  }
  img {
    border: 2px solid white;
  }
  form {
    margin-top: 50px;
    text-align: center;
  }
  input[type="submit"] {
    text-align: center;
    border: none;
    display: inline-block;
    background-color: rgb(141, 138, 138);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
    color: white;
    box-shadow: 0px 0px 10px 10px white;
  }
}
